<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Streax</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>English</string>
		<string>en</string>
	</array>
	<key>CFBundleName</key>
	<string>streax</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.850677517944-5l9ph83usv3iuva1lulc462bgb3jpamg</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>GIDClientID</key>
	<string>850677517944-5l9ph83usv3iuva1lulc462bgb3jpamg.apps.googleusercontent.com</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Streax™ needs access to your camera to set your profile picture, capture photos and videos for Stories, Chats, and your intro video.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Streax™ requires location permission to show nearby people</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Streax™ requires location permission to show nearby people</string>
	<key>NSLocationUsageDescription</key>
	<string>Streax™ requires location permission to show nearby people</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Streax™ requires location permission to show nearby people</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Streax™ needs access to your microphone to record audio for videos in Stories, Chats, and your intro video.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Streax™ needs access to your photos to upload profile pictures, gallery images, and share content in Stories and Chats.</string>
	<key>SCCameraKitAPIToken</key>
	<string>eyJhbGciOiJIUzI1NiIsImtpZCI6IkNhbnZhc1MyU0hNQUNQcm9kIiwidHlwIjoiSldUIn0.eyJhdWQiOiJjYW52YXMtY2FudmFzYXBpIiwiaXNzIjoiY2FudmFzLXMyc3Rva2VuIiwibmJmIjoxNzI5MjQ5NDMyLCJzdWIiOiI3YmNjOGZiMi0zMTg3LTRhMDgtYjAzMS04MjVjMjQwY2UzNDV-UFJPRFVDVElPTn43YmZhZWYxMy0zZWJlLTQzYmEtOTNmMi0xYWU3ZDdhNzYwMzkifQ.AGnALr-jdko6Q5HsGQBiHnxhWrVkZjFIKhrQjseR1u8</string>
	<key>SCCameraKitClientID</key>
	<string>d67e8d67-7d13-4adf-aaaf-6dc83c8611b2</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~iphone</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
